body {
  font-family: sans-serif;
  min-width: 100%;
  margin: 0;
  font-size: 1.1em;
  background: #1f4e5a;
  line-height: 1.6em;
}
* {
  box-sizing: border-box;
}
#page-wrap {
  width: 100%;
  min-height: 65vh;
  position: relative;
  overflow: hidden;
}

#fullwidth-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 95vh;
  width: 100vw;
}
/* #fullwidth-image img,
#fullwidth-image canvas {
  display: none;
} */

.no-webgl #fullwidth-image {
  display: grid;
  justify-content: center;
  align-items: center;
}

.no-webgl #fullwidth-image img {
  display: block;
  object-fit: cover;
  min-width: 100%;
  min-height: 95%;
}

#logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background: url("../img/triangle-top-left.png") top left no-repeat;
  background-size: 30% 50px;
}

#logo img {
  padding: 0 0 0 20px;
  width: 50px;
  height: 50px;
}

nav {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100px;
  width: 100%;
  background: url(../img/Right-Triangle.png) bottom right no-repeat;
  background-size: 50% 50px;
  text-align: right;
}

nav ul {
  /* list-style-type: none; */
  /* padding: 0; */
  /* margin: 0 10px 0 0; */
  padding-top: 45px;
}

nav li {
  text-align: center;
  display: inline;
}

a {
  color: #93eae0;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  font-size: 0.8em;
}

.main {
  color: cde5eb;
  /* background: url(../img/Right-Triangle.png) bottom right no-repeat; */
  background: url(../img/triangle-top-left.png), url(../img/Right-Triangle.png);
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  background-size: 50% 75px;
  padding-bottom: 100px;
  background-color: gray;
}

.grid {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 80px;
  padding: 100px 0;
}

#tag {
  color: #fff;
  position: absolute;
  /* text-align: center; */
  padding-top: 7rem;
  padding-left: 15%;
  width: 100%;
}
